<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Dating</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">

</head>
<body>
<!-- NavBar -->

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="images/logo.png" class="d-inline-block align-top" alt="">
            Connect
        </a>
    </nav>
</div>

<div class="container">
    <div class="row border border-bottom m-3">
        <div class="col-sm-6 col-12 mx-auto text-center">
            <h1>Connect</h1>
            <p>Welcome! This is the est dating website out there. Are you feeling lonely? Well this
                is the websiteYou are able to connect with
            the best match, don't agree? try it out yourself to meet your one nd only partner!</p>
            <button class="btn btn-danger">Create Profile</button>
        </div>
        <div class="col-sm-6 col-12 p-3">
            <img class="rounded" src="images/love.jpg" alt="Couple Holding Hands">
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>