<!--
Blezyl Santos
Dating Website
Version 1.0
Dating Website where people can know what the website is about and read testimonials
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Dating</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">

</head>
<body>
<!-- NavBar -->

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="images/logo.png" class="d-inline-block align-top" alt="">
            Connect
        </a>
        <a href="profiles" class="text-dark">Admin</a>
    </nav>
</div>

<div class="container">
    <div class="row border border-bottom m-3">
        <div class="col-lg-6 col-12 mx-auto p-5 text-center">
            <h1>Connect</h1>
            <p class="text-left">Welcome! This is the best dating website out there. Are you feeling lonely? Well this
                is the website for you! You are able to connect with the person best match for you, don't agree? try it out yourself to meet your one and only partner!</p>
            <h3>Hear what real couples are saying!</h3>
            <hr>
            <blockquote class="blockquote text-right">
                <p class="mb-0"><em>Found the Love of my life! Got married in a couple of days.</em> </p>
                <footer class="blockquote-footer"><cite title="Source Title">Ariana Petite</cite></footer>
            </blockquote>
            <blockquote class="blockquote text-right">
                <p class="mb-0"><em>Got someone to teach me how to drive and sing.</em></p>
                <footer class="blockquote-footer"><cite title="Source Title">Olivia Rod</cite></footer>
            </blockquote>
            <blockquote class="blockquote text-right">
                <p class="mb-0"><em>I am the blonde girl my Boyfriend has been looking for.</em> </p>
                <footer class="blockquote-footer"><cite title="Source Title">Sabrina Capintero</cite></footer>
            </blockquote>
            <a href="profile" class="btn btn-danger">Create Profile</a>
        </div>
        <div class="col-lg-6 col-12 p-3 align-self-center justify-content-center">
            <img class="rounded" src="images/love.jpg" alt="Couple Holding Hands">
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>