<!--
Blezyl Santos
Dating Website
Version 1.0
Dating Profile. Gets the name, age, gender, and phone number
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Dating</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">

</head>
<body>
<div class="container">
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="{{@BASE}}">
                <img src="images/logo.png" class="d-inline-block align-top" alt="">
                Connect
            </a>
        </nav>
    </div>
    <div class="mx-5  mt-4">
        <form action="#" method="post" class="container form-horizontal border border-bottom p-3">
            <h1>Personal Information</h1>
            <hr>
            <div class="row">
                <div class="col-lg-7 col-12 mx-auto">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <input type="text" class="form-control" name="fname" id="fname" aria-describedby="fname" placeholder="Enter First name" value="{{ @fname }}">
                        <span class="text-danger"><check if="{{ isset(@errors['fname']) }}">
                            {{ @errors['fname'] }}
                        </check></span>

                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" class="form-control" name="lname" id="lname" aria-describedby="lname" placeholder="Enter Last name" value="{{ @lname }}">
                        <span class="text-danger"><check if="{{ isset(@errors['lname']) }}">
                            {{ @errors['lname'] }}
                        </check></span>

                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="text" class="form-control" name="age" id="age" aria-describedby="age" placeholder="Enter Age" value="{{ @age }}">
                        <span class="text-danger"><check if="{{ isset(@errors['age']) }}">
                            {{ @errors['age'] }}
                        </check></span>

                    </div>
                    <fieldset class="form-group">
                        <legend class="col-form-label ">Gender</legend>
                        <div class="form-check form-check-inline mr-3">
                            <input class="form-check-input" type="radio" name="gender" id="male" value="male" <check if="{{ 'male' == @gender}}"> checked </check>>
                            <label class="form-check-label" for="male">
                                Male
                            </label>
                        </div>
                        <div class="form-check form-check-inline mr-3">
                            <input class="form-check-input" type="radio" name="gender" id="female" value="female" <check if="{{ 'female' == @gender}}"> checked </check>>
                            <label class="form-check-label" for="female">
                                Female
                            </label>
                        </div>
                        <span class="text-danger"><check if="{{ isset(@errors['gender']) }}">
                            {{ @errors['gender'] }}
                        </check></span>

                    </fieldset>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" class="form-control" name="phone" id="phone" aria-describedby="phone" placeholder="Enter Phone Number" value="{{ @phone }}">
                        <span class="text-danger"><check if="{{ isset(@errors['phone']) }}">
                            {{ @errors['phone'] }}
                        </check></span>

                    </div>
                </div>
                <div class="col-lg-5 col-12">
                    <div class="alert alert-secondary p-2" role="alert">
                        <p class="text-center p-0 m-0"><strong>Note:</strong> All information entered is protected by our <a href="" class="text-primary">privacy policy</a>.
                        Profile information can only be viewed by others with your permission.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                </div>
                <div class="col-3 align-self-end">
                    <button class="form-control btn btn-danger" type="submit" value="Next">Next ></button>
                </div>
            </div>
        </form>

    </div>
</div>


</body>
</html>